# build output
dist*/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
pnpm-debug.log*

# environment variables
.offprint-elog.config.ts
.env
.env.production

# macOS-specific files
.DS_Store

# tests
coverage/
.lighthouseci/
test-results/
playwright-report/
blob-report/
playwright/.cache/
